/* General body styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #330879;
  height: 100px;
  color: #fff;
  display: flex;
  justify-content: space-between; /* This ensures elements are spaced out */
  align-items: center;
  padding: 30px 20px;
}

.contact-info p {
  margin: 0;
  font-size: 1.2em; /* Increased font size */
  text-align: right;
  color: #fff; /* Ensuring text is white for readability */
}

.logo-company {
  display: flex;
  align-items: center;
}

header #logo {
  height: 150px; /* Adjust based on your logo's size */
  margin-right: 20px;
}

header h1 {
  margin: 0;
  flex-grow: 1;
}

nav {
  background-color: #0b6817; /* Distinguish nav from header */
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center; /* Centers the nav items */
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 0;
  display: block;
}

/* Responsive adjustments */
@media (max-width: 600px) {
  header {
      flex-direction: column;
      align-items: center;
  }

  .logo-company, .contact-info {
      width: 100%;
      text-align: center;
  }

  nav ul {
      flex-direction: column;
  }

  nav ul li {
      text-align: center;
  }
}

#scrollable-section {
  display: flex;
  overflow-x: auto; /* Enables horizontal scrolling */
  padding: 20px;
  background-color: #f0f0f0; /* Example background color */
}

.scroll-item {
  flex: 0 0 auto; /* Prevent items from shrinking */
  width: 200px; /* Fixed width for each item */
  margin-right: 20px;
  background-color: #ddd; /* Example item background color */
  text-align: center;
  padding: 10px;
}

/* Remove the margin from the last item */
.scroll-item:last-child {
  margin-right: 0;
}

/* Footer */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 20px;
}

/* Responsive adjustments might be required for smaller screens */
@media (max-width: 600px) {
  .contact-info p, nav ul li a {
      font-size: 1em; /* Adjust font size for smaller screens */
  }
}


